.navbar-brand{

	 
	
	#image{
		margin-top: 80px;
		height:150px;
		width:150px;
		border: 1px solid black;	
		
	}
	
	#logo{
		width: 30px;
		height: 30px;
		float:left;
	}
	
	#name{
		padding-top: 5px;
		padding-left: 2px;
		float: left;
	}
	
	#img-change{
		margin-top: -40px;
		font-size: 12px;
		font-color: green !important;
		text-align: center;
	}
	
	
}

.nav-tabs{
	padding-top: 130px;
	padding-left:110px;
}

.navbar-toggle > .toggle2 {
  position: relative;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 0 !important;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 100% !important;
  float: none !important;
}

.nav-sidebar{
	a {
		text-align: center;
	}
}