body {
	font-family: 'Georgia', sans-serif;
	font-size: 14px;
	color: #666;
	line-height: 1.5em;
	background: $primary-color;
}

#container {
	width: 960px;
	margin: 20px auto;
	overflow: auto;
	border: #ccc solid 1px;
	background: #fff;

	@include border-radius;
}

section{
	min-height:200px;
}

